{{#if isEditing}}
	<p><button {{action 'doneEditing'}}>Done</button></p>
	<p>{{input type="text" value=post.title class="form-control" placeholder="Post title"}}</p>
	<p>{{ember-selectize
    content=authors
    selection=post.author
    optionValuePath="content.id"
    optionLabelPath="content.name"
    placeholder="Post author"
  }}</p>
  <p>{{markdown-editor value=post.body  placeholder="Post content" rows="5"}}</p>

  <p><button {{action 'deletePost' class="btn btn-default"}}>Delete</button></p>
{{else}}
	<p><button {{action 'edit'}}>Edit</button></p>
{{/if}}
